<config>
  <apiEndpoint>https://serviciosdevakademiacode.gnoss.com/api</apiEndpoint>
  <communityShortName>lab-hector</communityShortName>
  <ontologyName>personahectors</ontologyName>
  <developerEmail>hectorserna@gnoss.com</developerEmail>
  <token>
    <tokenKey>5eNPyEfp3Ei9ehuuvYqqQJH6on4HP2Q5</tokenKey>
    <tokenSecret>UO9PyEfp3EilNynWW0myR7anp92/7qGg</tokenSecret>
  </token>
  <consumer>
    <consumerKey>VjJAyEfp3EiZJCm9gsl3RYSItdgoL/W1</consumerKey>
    <consumerSecret>7LRAyEfp3EjCPT8OC8E6QZ+3+fSoE3kK</consumerSecret>
  </consumer>
  <log>
    <logPath>/log</logPath>
    <logFileName>trace.log</logFileName>
    <logLevel>DEBUG</logLevel>
  </log>
</config>