<config>
  <apiEndpoint>https://serviciosdevakademiacode.gnoss.com/api</apiEndpoint>
  <communityShortName>pfi-hector</communityShortName>
  <ontologyName>torneopfihs</ontologyName>
  <developerEmail>hectorserna@gnoss.com</developerEmail>
  <token>
    <tokenKey>P7Pn/9Lt3EgWMgJb+Tf0RInNu0emwh+8</tokenKey>
    <tokenSecret>DrTn/9Lt3EiukdHcEdynR7mh8hwMGN3u</tokenSecret>
  </token>
  <consumer>
    <consumerKey>piHk/9Lt3EgmC2QNSpDrSKwn8sGcI8hD</consumerKey>
    <consumerSecret>KSPk/9Lt3EjHQRbK5JOmQZh/Osa6+atF</consumerSecret>
  </consumer>
  <log>
    <logPath>/log</logPath>
    <logFileName>trace.log</logFileName>
    <logLevel>DEBUG</logLevel>
  </log>
</config>